.breakfast {
    display: block;
    margin-left:10px;
    width: 240px;
    height: 50px;
    font-size:18px;
    font-family: 'Lato', sans-serif;
    text-align: center; 
    background-color: #283593!important;
    color:white;  
    border: solid 1px #283593!important;  
}

.breakfast:active, .lunch:active{
    background-color: #EF6C00!important;
    border-color: #EF6C00!important;      
}

.lunch {
    width: 150px;
    height: 50px;
    font-size:18px;
    font-family: 'Lato', sans-serif;
    text-align: center; 
    background-color: #283593!important;
    color:white;   
    border: solid 1px #283593!important;  
}

h6{
    font-weight: bold;
    text-transform: uppercase;
    font-size: 20px;
    margin-bottom: 8px;
}

p{
    font-size: 18px;
    margin-bottom: 5px;
}
