.breakfast {
    width: 240px;
    height: 40px;
    font-size:18px;
    font-family: 'Lato', sans-serif;
    text-align: center; 
    display: block;
    margin:auto;
}

.breakfast:active, .lunch:active{
    background-color: #EF6C00!important;
    border-color: #EF6C00!important;      
}

.lunch {
    width: 100px;
    height: 40px;
    font-size:18px;
    font-family: 'Lato', sans-serif;
    text-align: center; 
    
}
