.btnnavbar{
    width: 120px;
    height: 50px;
    font-size:24px;
    font-family: 'Lato', sans-serif;
    text-align: center;    
}

.roleoption{
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-end;
    margin: 10px 50px;    
}

#containerrole{
    margin:20px 40px;
}
