.order{
    width:100%;
    display:block;
    margin:auto;    
}

.productdelete{
    background-color:#E53935;
    border:solid 1px #E53935;
    display:block;
    margin:5px 0px;  
    height: 100%;
    width: 100%;
}

#customername{
    font-size: 20px;
}

.productsorder{
    width:100%;
    margin:0px;
}

.productorder{
    width:100%;
    display:block;
    margin:auto;  
    font-size: 18px;
    font-family: 'Lato', sans-serif;
}

.btnkitchen{
    margin-top:20px;
    font-size: 22px;  
    float: right;    
}

.btnkitchen button{
    font-size:20px;
    height: 50px; 
    font-family: 'Lato', sans-serif;
}

.clean{
    margin-top:0px!important;
    width:130px;
}

.form-label{
    font-size: 18px;
    font-family: 'Lato', sans-serif;
}

#totalprice{
    margin:10px 0px;
    font-weight: bold;
    font-size: 22px;
    font-family: 'Lato', sans-serif;
}