.burgertype, .toppings{
    width: 140px;
    height: 50px;
    font-size:18px;
    font-family: 'Lato', sans-serif;
    text-align: center; 
    display:block;
    margin:auto;
    background-color: #1976D2!important;
    color:white; 
    border: solid 1px #1976D2!important;
}

.burgertype:active, .toppings:active{
    background-color: #283593!important;
    background-color: #283593!important; 
}

.modalbody{
    display:block;
    margin:auto;
}

.row h5{
    font-weight: bold;    
    font-size: 20px;
    margin-bottom: 8px;
}

.btnfootermodal{
    width: 100px;
    height: 50px;
    font-size:18px;
    font-family: 'Lato', sans-serif;
    text-align: center;
}

.modalfooter{
    padding-right: 30px;
}